<!DOCTYPE html>
<html lang="en">
<head>
	<title>Game</title>
	<link type="text/css" media="screen" rel="stylesheet" href="css/game.css">
</head>
<body>
	<h1>Romance of the Three Kingdoms Online</h1>
    <div id="activeView">
        
    </div>
        
    <script id="mainMenuTemplate" type="text/template">
        <ul class="menu main-menu">
            <li><button id="continueGame">Continue Game</button></li>
            <li><button id="newGame">New Game</button></li>
            <li><button id="editCharacter">Edit Character</button></li>
            <li><button id="newCharacter">New Character</button></li>
        </ul>
    </script>
    
    <script id="charactersTemplate" type="text/template">
        <ul id="characterList" class="character-list"></ul>
        <ul class="menu">
            <li><button id="mainMenu">Main Menu</button></li>
        </ul>
    </script>
    
    <script id="characterListItemTemplate" type="text/template">
        <%= name %>, <%= strength %>, <%= intelligence %>
    </script>
    
	<script src="js/libraries/require-2.1.14.js" data-main="js/mainIndex.js"></script>
</body>
</html>