<!DOCTYPE html>
<html lang="en">
<head>
	<title>Game</title>
	<link type="text/css" media="screen" rel="stylesheet" href="css/game.css">
</head>
<body>
	<h1>Romance of the Three Kingdoms Online</h1>
	
    <ul id="mainMenu" class="menu"></ul>

    <ul id="characterList"></ul>
    
    <script id="mainMenuTemplate" type="text/template">
        <li><button id="continueGame">Continue Game</button></li>
        <li><button id="newGame">New Game</button></li>
        <li><button id="editCharacter">Edit Character</button></li>
        <li><button id="newCharacter">New Character</button></li>
    </script>
    
    <script id="characterListItemTemplate" type="text/template">
        <%= name %>, <%= strength %>, <%= intelligence %>
    </script>
    
	<script src="js/libraries/require-2.1.14.js" data-main="js/mainIndex.js"></script>
</body>
</html>